.todo-card{
    background-color: white;
    max-width: 95%;
    max-height: 110px;
    margin: 2.5%;
    border-radius: 10px;
    padding: 15px;
    padding-left: 30px;
}
#todo-title{
    font-size: 25px;
    color: rgb(87,204,237);
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media only screen and (max-width: 770px) {
    #todo-title{
        font-size: 20px;
        color: rgb(87,204,237);
        font-weight: 600;
    }
}