.all-cards-outer-container{
    max-height: 500px;
    min-height: 500px;
    max-width: 90%;
    min-width: 90%;
    border: 4px solid white;
    display: flex;
    justify-content: center;
}
.all-cards-container{
    height: 98%;
    width: 98%;
    overflow-y: scroll;
    max-height: 500px;
}

/* width */
.all-cards-container::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  .all-cards-container::-webkit-scrollbar-track {
    background: rgb(222,248,255); 
    border-radius: 10px;
    display: none;
  }
   
  /* Handle */
  .all-cards-container::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 10px;
  }